/*.cover1{*/
/*    background-image: url("../assets/img/bg-masthead.jpg");*/
/*    background-size: cover;*/
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
/*    height: 505px;*/
/*    width: 676px;*/
/*}*/

/*
NAVBAR DETAILING
*/

body {
    background-color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-align: center !important;
    color: black;
}

nav {
    background: none !important;
    text-transform: uppercase;
    font-family: "Copperplate Gothic Bold", sans-serif;
    text-shadow:  2px 2px 3px black, 0 0 0.2em black;
}
.hover {
  height: 10px;
  width: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1.5rem sans-serif;
  cursor: pointer;
  will-change: transform;
}
.hover-4 {
  border: 8px solid;
  border-image: repeating-linear-gradient(to right, #bdc3c7, #403B4A) 8;
  -webkit-mask:
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}
.hover-4:hover {
  --_i: 100%;
  color: #CC333F;
  transition: .3s, -webkit-mask-size .3s .3s;
}

h3 {
  font-family: system-ui, sans-serif;
  font-size: 4rem;
  margin:0 auto;
  cursor: pointer;
  padding: 0 .1em;
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.p-md-3{
    color: black;
}
li {
    margin-left: 3em;
    margin-right: 3em;
}


.page-title {
    opacity: .75 !important;
}


/* ---------------------------------------------------- */


/* BACKGROUNDS HOMEPAGE */
.section {
    background-image: url("../images/bg3.jpg");
    width: 100%;
    height: 2000px;
}

.section.bg1 {
    background-image: url("../images/bg2.jpg");
    width: 768px;
    height: 492px;
    background-position: left;
}

.section.bg2 {
    background-image: url("../images/bg1.JPG");
}

/* CARD CSS STYLE */


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-style: groove;
    border-width: 5px;
    background-image: url("../images/card.background1.png");
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    border-radius: 25px;
    width: 160px;
    height: 220px;
    border-bottom-right-radius: 0px;
}

/* CONTAINERS SI SCRIS HOMEPAGE CSS */
div.container {
    position: center;
}

h1 {
    max-width: 1000px;
    margin: auto;
    text-shadow: 1px 1px 2px black, 0 0 0.2em white;
    animation: backwards;
}


.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}


h1 {
    font-family: "Montserrat Medium",sans-serif;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 1.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 1.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 1.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 1.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 1.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 1.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 1.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
    animation: fade-in 1.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
    animation: fade-in 1.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
    animation: fade-in 1.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
    animation: fade-in 1.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
    animation: fade-in 1.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
    animation: fade-in 3s 5.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
    animation: fade-in 3s 5.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
    animation: fade-in 3s 5.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
    animation: fade-in 3s 5.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    letter-spacing: 0.04em;
}

body {
    font-family: "Signika Negative", sans-serif;
    font-weight: 300;
}

.section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1 {
    background-color: #ccc;
}

.bg2 {
    background-color: #333;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
}

.revealUp {
    opacity: 0;
    visibility: hidden;
}

.spacer {
    height: 50vh;
    background-color: #000;
}